/.venv/
/AnimaDestilary/videos/
/AnimaDestilary/wav/
/Navegator/node_modules/
/Puppeteer/JSTest/node_modules/
/Navegator/.ipynb_checkpoints/
/ADData/
/Puppeteer/node_modules/
/Server/
/AnySettings
/eBackup 2024-01-09 21-00-00.zip
/eBackup_2024-01-09_21-00-00/
/PanalandBackups/
